body {
    margin: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}

.wrapper {
    width: 85vw;
    height: auto;
    animation: fadeIn 0.5s forwards;
    vertical-align: top;
    margin-top: 1em;
    margin-left: 1em;
    overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.wrapper #instance {
    padding: 0.5em;
    width: 70%;
    text-align: left;
    height: 10vh;
    margin: 1em auto;
    position: relative;
    background: #333;
    color: #FFF;
    display: inline-block;
    border-left: 5px solid #00caff;
    border-radius: 0.1em;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}
button {
    background: #00caff;
    color: #222;
    border-radius: 5em;
    border: 0;
    color: #FFF;
    padding: 0.5em 1em;
    margin-top: 0.5em;
    outline: none;
    cursor: pointer;
}
button#deny {
    background: #e74c3c;
    cursor: not-allowed;
}
.wrapper #instance img {
    height: 100%;
    width: auto;
    background: #d3d3d3;
    border-radius: 0.3em;
}
.wrapper #instance p {
    vertical-align: top;
    display: inline-block;
    margin-left: 2em;
    position: relative;
    top: 70%;
    transform: translateY(-100%);
    word-break: break-all;
    max-width: 80%;
}
.wrapper #instance span#f {
    color: #d3d3d3;
    font-size: 0.8rem;
}
.wrapper #instance span#info {
    font-size: 0.8rem;
}
.wrapper #instance span#name {
    font-size: 1rem;
    color: #00caff;
}