@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$blue: #00caff;

* {
    margin: 0;
    padding: 0;
}
body {
    background: #222;
    color: #FFF;
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
}

a:link {
    color: #3f7bf7;
}

/* LOGIN PAGE */

.signin {
    width: 30%;
    margin: auto;
    left:0;
    right:0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    #box {
        background: #111;
        display: inline-block;
        max-width: 50%;
        padding: 3em 2em;
        -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
        img {
            width: 60%;
            height: auto;
            margin-bottom: 4em;
        }
        h1 {
            margin-bottom: 1em;
        }
        input {
            padding: 1em;
            text-align: center;
            border: 0;
            margin-bottom: 2em;
        }
        input[type=submit] {
            padding: 1em;
            border: 0;
            color: #FFF;
            font-weight: bold;
            background: rgb(131,58,180);
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,95,32,1) 0%, rgba(29,253,217,1) 0%, rgba(63,123,247,1) 100%, rgba(69,100,252,1) 100%);
        }
    }
}

/* PANEL */

header {
    width: 100vw;
    height: 5vh;
    background: #333;
    display: table;
    position: relative;
    #headerButtons {
        display: inline-block;
        width: auto;
        text-align: left;
        position: relative;
        transform: translateY(50%);
        margin-left: 1em;
        border-right: 2px solid #FFF;
        padding: 0 1em;
        ul {
            list-style: none;
            li, a {
                cursor: pointer;
                transition: color 1s ease;
                color: #FFF;
                display: inline-block;
                margin: 0 0.5em;
            }
            li:hover, a:hover {
                color: $blue;
            }
        }
    }
    span {
        display: table-cell;
        text-transform: uppercase;
        vertical-align: middle;
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: underline;
        a {
            color: #FFF;
        }
    }
    #title {
        left: 0;
        width: 15vw;
        height: 100%;
        text-align: center;
        font-size: 0.6rem;
        display: inline-block;
        border-right: 3px solid #0bb3df;
        h1 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-width: 90%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-transform: uppercase;
        }
    }
}

.sidebar {
    width: 15vw;
    height: 95vh;
    background: #444;
    overflow-y: scroll;
    display: inline-block;
    .bot-profile {
        width: 100%;
        margin-top: 2em;
        padding: 1em 0;
        background: #333;
        user-select: none;
        position: sticky;
        top:0;
        #botIconWrapper {
            width: 20%;
            height: auto;
            border-radius: 10em;
            margin-left: 1em;
            display: inline-block;
            position: relative;
            img {
                width: 100%;
                height: auto;
                user-select: none;
                pointer-events: none;
                border-radius: 10em;
            }
            #botStatus {
                position: absolute;
                bottom: 1;
                right: 1;
                width: 12px;
                height: 12px;
                background: #747F8D;
                border: 4px solid #333;
                border-radius: 10em;
            }
        }
        #info {
            display: inline-block;
            vertical-align: top;
            p {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.7rem;
                font-weight: bold;
                margin-left: 1em;
                span {
                    word-break: break-all;
                    max-width: 1em;
                }
                a {
                    color: $blue;
                    text-decoration: none;
                }
            }
        }
    }
    ul {
        width: 100%;
        height: auto;
        list-style: none;
        user-select: none;
        a {
            margin-left: 2em;
            color: #FFF;
            transition: color 1s ease;
            text-decoration: none;
            text-transform: capitalize;
            width: 100%;
            height: 100%;
            li {
                width: 100%;
                padding: 1.5em 0;
                border-bottom: 1px solid #333;
                i {
                    margin: 0 1em;
                    color: $blue;
                }
            }
        }
        a:hover {
            color: $blue;
        }
    }
}
.sidebar::-webkit-scrollbar {
    display: none;
}

iframe {
    vertical-align: top;
    width: 85vw;
    height: 95vh;
    float: right;
    border: 0;
    overflow: hidden;
    background: #222;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}